---
---

@import "{{ site.theme }}";
$body-font: 'Chakra Petch', sans-serif;
$mono-font: 'Roboto Mono', monospace;

html {
    font-family: 'Chakra Petch', sans-serif;
}

body {
    color: #fff;
    background-color: #1b1f23;
}

tr{
    border-color: #1b231f
}

td {
    background-color: #231b1f
}