---
---

@import "{{ site.theme }}";
$body-font: 'Chakra Petch', sans-serif;
$mono-font: 'Roboto Mono', monospace;

html {
    font-family: 'Chakra Petch', sans-serif;
}

a {
    color: #fa67bc;
}

body {
    color: #b77dd9;
    background-color: #1b1f23;
}

.markdown-body table th, .markdown-body table td {
    border: 1px solid #573468;
}

td {
    background-color: #161622
}

hr,
.rule {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid darken(#1b231f, 25%);
  @include clearfix();
}